h1 {
    text-align: center;
    color: #007bff;
}


#display_post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#post-container {
    background: #e3e8edcf;
    border: 1px solid #ddd;
    /* border-radius: 8px; */
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    padding: 15px;
    transition: transform 0.2s;
    border-top: 1.5px solid #9aa6; 
    border-bottom: 1.5px solid #9aa6;
    margin-bottom:35px;
}

#post-container:hover {
    transform: translateY(-5px);
}

#title {
    color: #111314;
    margin: 0 0 10px 0;
}

#desc, #date, #content {
    margin: 5px 0;
    line-height: 1.8;
}
#date {
    font-size: 14px;
    color: #000000;
}
#content {
    margin: 19px 0;
    /* padding: 15px; */
    /* background: #e9f5ff; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    line-height: 1.8;
    color: #4b4949;
    font-size: 17px;
}

#more {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

#more:hover {
    background: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
   body{
    margin: -1px;
   }

    #display_post {
        gap: 0px;
    }

    #post-container {
        padding: 10px;
    }

    #more {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }


    #title {
        font-size: 19px;
        /* text-align: center; */
    }

    #desc, #date {
        font-size: 12px;
    }

    #content{
        font-size: 13px;
    }
    #more {
        font-size: 12px;
    }
}
