.creat_post{
    width: 82%;
    display: block;
    padding: 20px;
    margin-right: 210px;
}

.creat_post form{
    display: grid;
    border: 1px rgba(10, 13, 51, .6) solid;
    border-radius: 12px;
    background-color: #f0f0f0;
    padding: 40px;
}
.creat_post form input
{
    margin-bottom: 25px;
    height: 32px;
    background: #ffffff;
    border: 1px solid rgba(10, 13, 51, .6);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px;
}

.creat_post form textarea{
    margin-bottom: 35px;
    height: 242px;
    background: #ffffff;
    border: 1px solid rgba(10, 13, 51, .6);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px;
}

.creat_post form input:active,
.creat_post form input:hover,
.creat_post form input:focus{
    background: rgba(255, 255, 255, 0.85);
    border-color: green;
    
}


#display{
 
    padding: 20px;
    display: grid;
    border-radius: 5px;
    /* margin-top: 75px; */
}
#display h2{
    text-decoration: underline;
}
#display p{

}

#display #content{
        background: #e0e0e0;
    padding: 4px;
    border: 1px #1f6feb42 solid;
    border-radius: 6px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#display div{
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 49px;
    border: solid .1px #1877f2;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


/* الأجهزة الكبيرة */
/* .creat_post {
    margin-right: 0;
} */

/* الأجهزة اللوحية والمتوسطة */
@media (max-width: 900px) {
    .creat_post {
        padding: 15px;
        margin: 0 auto;
        margin-top: 43px;
    }

    #display {
        padding: 15px;
        grid-template-columns: repeat(1,1fr);
    }

    #display h1 {
        font-size: 1.8rem;
    }

    #display h2 {
        font-size: 1.3rem;
    }

    #display p {
        font-size: 0.9rem;
    }

    #display div {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px #3c3b3b solid;
        background: #eeeeee;
        border-radius: 8px;
    }
}

/* الهواتف الذكية */
@media (max-width: 550px) {
    .creat_post {
        margin: 0 auto;
    }
    .creat_post h1{
        font-size: 19px;
        margin-top: 23px;
    }

    .creat_post form input,
    .creat_post form textarea {
        font-size: 1rem;
        padding: 8px;
    }
    #display {
        padding: 10px;
        grid-template-columns: 1fr;
    }

    #display h1 {
        font-size: 1.5rem;
    }

    #display h2 {
        font-size: 1.2rem;
    }

    #display p {
        font-size: 0.8rem;
    }

    #display div {
        padding: 10px;
        margin-bottom: 10px;
        
    }

    #display button {
        padding: 3px 7px;
        font-size: 0.6rem;
    }
    .creat_post form{
        padding: 8px;
        border: none;
    }
}

